body{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.text-title {
  text-align: center;
  padding: 60px 0 100px ;
  text-transform: uppercase;
  font-size: 2rem;
  margin-top: 80px;
}
.text-title::after {
  content: "";
  width: 80px;
  height: 5px;
  display: block;
  margin: 10px auto 0;
  border-radius: 8px;
  background: #f3961c;
}
/* NAVBAR */
.navbar{
  background: #7bbeb7 !important;
}
.navbar-brand .logo2 {
  width: 65px;

}
.navbar .navbar-nav .nav-link {
  color: #000;
  margin: 0 5px;
  letter-spacing: 1px;
  border-top: #7bbeb7 solid 2px ;
  transition: 0.5s ease;
}
.navbar .navbar-nav .nav-link:hover {
  border-top:#fff solid 2px ;
  color: #fff;
}
/*  OFFCANVAS */
.shopping {
  font-size: 24px;
  cursor: pointer;
  color: #000000;
  border-top: #7bbeb7 solid 1px;
  padding-top: 8px;
}
.shopping:hover {
  border-top: #fff solid 1px;
}
.offcanvas .offcanvas-title {
  letter-spacing: 1px ;
  text-transform: uppercase;
  font-size: 15px;
  font-style: italic;
}
.offcanvas .text-reset {
  font-size: 20px ;
  background-color:#7bbeb7;
  border-radius: 20px;
  transition: all 0.5s;
}
.offcanvas .text-reset:hover {
  background-color:#ff7e5f;
}
.offcanvas .offcanvas-body {
  margin: 30px;
} 
.offcanvas .offcanvas-body .card {
  text-align: center;
  margin-bottom: 20px;
}
.offcanvas .offcanvas-body .card .card-body {
  background-color: #faf4f5;
}
.offcanvas .offcanvas-body .card .card-title {
   text-transform: uppercase;
   font-size: 18px;
   letter-spacing: 1px;
   font-style:italic;
}
.offcanvas .offcanvas-body .card .card-text {
  text-transform: capitalize;
  font-size: 15px;
  letter-spacing: 0.5px;
  font-style: italic;
}
.offcanvas .offcanvas-body .card .btn-offcanvas {
  font-size: 13px;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-style: italic;
  background-color: #ff7e5f;
  color: white;
  transition: all 0.5s;
}
.offcanvas .offcanvas-body .card .btn-offcanvas:hover {
  background-color: #7bbeb7;
  color: #000000;
}
/* HEADER */
.carousel-inner .logo {
  height: 100vh;
  width: 100vw;
  font-size: cover;
}
.carousel-inner .carousel-caption {
  text-transform: uppercase;
  margin-bottom: 60px;
}
.carousel-inner .carousel-caption h2 {
  font-style: italic;
  letter-spacing: 1px;
}
.carousel-inner .carousel-caption h2,h4,h5{     
  color: #ffffff;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.carousel-inner .carousel-caption h2:hover,h4:hover,h5:hover{
  color: #000000;
  text-shadow: 1px 1px 2px rgba(255,255,255,0.7);
}

/* ABOUT */
.container-about {
  height: 100vh;
  padding: 120px 0;
  background: #faf4f5;
}
.container-about .about {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
}
.container-about .about-img .logo {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
}
.container-about .about-text {
  max-width: 50%;
}
.container-about .about-text .text-title {
  padding: 0;
}
.container-about .about-text .text {
  line-height: 30px;
  margin: 50px 0 30px;
  text-align: center;
  font-size: 1.12rem;
}
.container-about .about .about-text .social-link-list {
  text-align: center;
  font-size: 30px;
}
.container-about .about .about-text .social-link-list .social-link {
  color: #7bbeb7;
  margin-left: 10px;
  transition: 0.5s ease;
}
.container-about .about .about-text .social-link-list .social-link:hover {
  color:#000000;
}


/*  Residences */
.container-Residences {
  margin-bottom: 30px;
}
.container .Residences {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}
.container .Residences .card-body {
  text-align: center;
  padding: 25px 0 25px 0;
}
.container .Residences .card-body .card-title {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #000 !important ;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
.container .Residences .card-body .btn {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  background: #ff7e5f ;
  padding: 12px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s ease;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  text-transform: uppercase;
}
.container .Residences .card-body .btn:hover {
  background: #7bbeb7;
  color: #000000;
  letter-spacing: 1px;
}

/* MODEL */
.modal {
  margin-top: 100px;
}
.modal .modal-content {
  height: 80vh;
}
.modal .modal-content .modal-header .modal-title {
  text-transform: uppercase;
  font-size: 20px;
  cursor: pointer;
}
.modal .modal-content .modal-header .modal-title:hover {
  color: #7bbeb7;
}
/* CAROUSEL */
.carousel .carousel-inner {
  border-radius: 20px;
}
/* COLLAPSE  */
.collapse-container {
  text-align: center;
  margin-top: 20px;
}
.collapse-container .btn {
  width: 170.4px;
  margin: 5px;
  padding: 2px;
  border-radius: 6px;
  background: #7bbeb7;
  transition: 0.5s ease;
}
.collapse-container .btn:hover {
  background: #ffff;
  border: #000000 1px solid;
}
.collapse-container .card-body {
  display: flex ;
  flex-direction:row;
  flex-wrap: wrap;
  gap: 20px;
}
.collapse-container .card-body p {
  color: green;
}

/* TESTIMONIALS */
.testimonials {
  height: 90vh;
}
.container-testimonials {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
  
}
.container-testimonials .Testimonials {
  background: #ffffff;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  width: 320px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
}

.container-testimonials .Testimonials:hover {
  transform: translateY(-10px);
}
.Testimonials .img-logo {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #7bbeb7;
}
.Testimonials-text {
  margin-top: 20px;
}

.Testimonials-text h2 {
  color: #7bbeb7;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 18px;
}

.Testimonials-text p {
  color: #555;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  line-height: 1.6;
  margin-top: 10px;
}

/* CONTACT US */
form {
  background: #faf4f5;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

}
.contact input,
.contact textarea {
  border: 1px #faf4f5 solid !important;
  width: 85%;
}
.contact input {
  padding: 15px;
  border: none;
  outline: none;
  background: #7bbeb7;
  border-radius: 5px;
  font-size: 18px;
  font-style: italic;
  cursor: pointer;
  transition: 0.5s ease;
}
.contact input:hover {
  background: #fff;
  border: #7bbeb7 solid 1px;
}
.contact textarea {
  padding: 25px;
  border: none;
  outline: none;
  font-size: 18px;
  background: #fff;
  border: solid 1px #7bbeb7;
  font-style: italic;
  cursor: pointer;
  transition: 0.5s ease;
} 
.contact textarea:hover {
  background: #7bbeb7;
  border: #fff solid 1px;
}
.contact .submit {
  text-transform: uppercase;
  width: 60%;
  padding: 20px 10px;
  border: none;
  outline: none;
  margin: 20px;
  letter-spacing: 1px;
  border-radius: 5px;
  background: #f3961c;
  color: #ffff;
  font-size: 20px;
  font-style: italic;
  transition: 0.5s ease;
}
.contact .submit:hover {
  background: #7bbeb7;
  color: #000;
}
/* Login Page Only */
.login-page * {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.login-page {
  min-height: 100vh;
  background:#faf4f5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-card {
  background: #ffffff;
  width: 100%;
  max-width: 380px;
  padding: 32px;
  border-radius: 18px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}
.login-card h6 {
  text-align: center;
  margin-bottom: 25px;
  letter-spacing: 1px;
  font-size: 18px;
  font-style: italic;
  text-transform: uppercase;
}

.login-card form {
  display: flex;
  flex-direction: column;
  gap:18px;
  background: transparent; /* مهم */
  min-height: auto;        /* مهم */
}

.input-group {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.input-group label {
  margin-bottom: 8px;
  font-size: 18px;
  color:#666;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-style: italic;
}

.input-group input {
  outline: none;
  border: none;
  padding: 15px 15px;
  border: #faf4f5 2px solid;
  border-radius: 2px;
  color: #000000;
  font-style: italic;
  letter-spacing: 1px;
}

.input-group input:focus {
   border: #7bbeb7 2px solid;
}


.login-card button {
  outline: none;
  border: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
  font-size: 18px;
  padding: 15px 0px;
  border-radius: 20px;
  background-color: #7bbeb7;
  transition: all 0.5s;
}

.login-card button:hover {
  background-color: #ff7e5f;
  color: #fff;
}

/* النص السفلي */
.register-text {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #666;
  text-transform: capitalize;
}

.register-text span {
  color: #7bbeb7;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all 0.5s;
}

.register-text span:hover {
  text-decoration: underline;
  color: #ff7e5f;
}

/* موبايل */
@media (max-width: 480px) {
  .login-card {
    margin: 0 15px;
    padding: 25px;
  }
}

/* FOOTER */
.social {
  height: 5vh;
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 30px;
  background: darkgray;
  margin-top: 3px;
}
.social .social-link {
  color: #fff;
}
.social .social-link:hover {
  color: #11fce5;
}
.title-footer {
  height: 5vh;
  background: darkgray;
  display:flex ;
  justify-content: center;
  align-items: center;
}
.title-footer h6 {
  font-size: 15px;
  color: #fff;
  cursor: pointer;
}








@media screen and (max-width: 640px) {
  .container-about {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 20px;
  }

  .container-about .about {
    flex-direction: column-reverse;
    gap: 30px;
    margin-top: 0;
    text-align: center;
  }

  .container-about .about-img .logo {
    width: 220px;
    height: 220px;
  }

  .container-about .about-text {
    max-width: 100%;
  }

  .container-about .about-text .text-title {
    margin-top: 0;
    font-size: 1.4rem;
  }

  .container-about .about-text .text {
    margin: 20px 0;
    font-size: 0.95rem;
    line-height: 1.6;
    text-align: center;
  }

  .container-about .about-text .social-link-list {
    font-size: 24px;
  }
  .testimonials {
    height: auto;
    padding: 60px 0;
  }

  .container-testimonials {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  /* Contact */
  form {
    min-height: auto;
    padding: 60px 0;
  }

  .contact input,
  .contact textarea {
    width: 90%;
  }

  .contact .submit {
    width: 70%;
  }

}

